@model ProyConsultaMedica.Models.Consulta

@{
    ViewBag.Title = "LoginConsulta";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Acceso a  su Consulta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ingrese el codigo generado que se le entrego al momento de realizar su consulta</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.codigo_generado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo_generado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigo_generado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
